<div class="cli-body">



<div class="cli-header">
    <div class="logoheader">
      <img
        class="hlogo"
        src="../../../assets/images/logos/tercerosLogoHeader.svg"
      />
      <div class="logo-let">
        <div style="font-weight: bold">Emp. colaboradoras</div>
      </div>
    </div>

    <div style="flex: 1 1 auto"></div>
    <button class="cli-btn btn-fucsia"
            routerLink="/login"
            >
      Login
    </button>


  </div>

  <div class="cli-canvas">
    <div class="cli-content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>

  </div>
</div>
